.checkbox-container {
  height: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--main-border-color);
  position: relative;
  margin-top: -5px;
  $checkbox: 'input[type= "checkbox"]';
  #{$checkbox} {
    cursor: pointer;
    appearance: none;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transform: scale(0.9);
    background-color: var(--main-background-color);
    transition: $main-transition;
    &:checked {
      transform: scale(1);
      background-image: linear-gradient(
        130deg,
        var(--sky-color),
        var(--pink-color)
      );
    }
  }
  &:has(#{$checkbox}:hover) {
    background-image: linear-gradient(
      130deg,
      var(--sky-color),
      var(--pink-color)
    );
  }
  &:has(#{$checkbox}:checked) {
    &::after {
      content: "\f00c";
      font: {
        family: $Awesome;
        weight: 700;
        size: 10px;
      }
      color: #fff;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
  }
}
