* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  background-color: transparent;
}
img {
  user-select: none;
  border-style: none;
}
input,
select,
textarea,
button,
optgroup {
  font: {
    size: inherit;
    family: inherit;
  }
  color: inherit;
  &:not(input[type="text"], input[type="password"], input[type="email"]) {
    cursor: pointer;
  }
}
body {
  font: {
    family: "Josefin Sans", sans-serif;
    weight: 400;
    size: 18px;
  }
  color: $main-text-color;
}
