* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  background-color: transparent;
}
img {
  user-select: none;
  border-style: none;
}
input,
select,
textarea,
button,
optgroup {
  font: {
    size: inherit;
    family: inherit;
  }
  color: inherit;
}
html {
  min-width: fit-content;
}
body {
  font: {
    family: "Josefin Sans", sans-serif;
    weight: 400;
    size: 18px;
  }
  background: {
    color: $main-background-color;
    image: url(../images/bg-desktop-light.jpg);
    repeat: no-repeat;
    size: 100% 250px;
  }
  @include underTablet {
    background-image: url(../images/bg-mobile-light.jpg);
    font-size: 16px;
  }
  @include underLargeMobile {
    background-size: auto 250px;
  }
}
