- 
  let 
    dir = "rtl" 
    pageTitle = 'قائمة المهام'
    appName = "قائمة المهام"
    addPlaceHolder = 'قم باضافة مهمة جديدة'
    itemsLeft = 'مهام متبقية'
    filters = {all:"الكل", active:'المتبقية', completed:'المنتهية'}
    removeAll = 'ازالة المهام المنتهية'
    reorderGuide = 'قم بالسحب والإفلات لإعادة ترتيب القائمة'