* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  background-color: transparent;
}
img {
  user-select: none;
  border-style: none;
}
input,
select,
textarea,
button,
optgroup {
  font: {
    size: inherit;
    family: inherit;
  }
  color: inherit;
}
html {
  min-width: fit-content;
}
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
body {
  font: {
    family: "Josefin Sans", sans-serif;
    weight: 400;
    size: 18px;
  }
  background: {
    color: var(--page-background-color);
    image: url(@/assets/bg-desktop-light.jpg);
    repeat: no-repeat;
    size: 100% 250px;
  }
  @include underTablet {
    background-image: url(@/assets/bg-mobile-light.jpg);
    font-size: 16px;
  }
  @include underLargeMobile {
    background-size: auto 250px;
  }
  html[data-dark-mode="true"] & {
    background-image: url(@/assets/bg-desktop-dark.jpg);
    @include underTablet {
      background-image: url(@/assets/bg-mobile-dark.jpg);
    }
  }
}
