button {
  background-color: transparent;
  border: none;
  transition: $main-transition;
  color: var(--second-text-color);
  cursor: pointer;
  &.button-text {
    text-transform: capitalize;
    &:hover {
      color: var(--main-hover-color);
    }
  }
  &:disabled {
    color: var(--third-text-color);
    cursor: not-allowed;
  }
  > svg {
    font-size: 20px;
    @include underTablet {
      font-size: 18px;
    }
  }
}
