main {
  min-height: 100vh;
  background: {
    color: $main-background-color;
    image: url(../images/bg-desktop-light.jpg);
    repeat: no-repeat;
    size: contain;
  }
  @include underTablet {
    background-image: url(../images/bg-mobile-light.jpg);
  }
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  > section {
    width: 500px;
    .reorder-guide {
      color: $second-text-color;
      font-size: 16px;
      margin: 20px auto;
      width: fit-content;
    }
  }
}
