.add-task {
  background-color: $main-background-color;
  border-radius: $main-border-radius;
  margin: 30px 0 20px;
  min-width: 300px;
  @extend %mainTaskBox;
  > {
    .checkbox-container {
      pointer-events: none;
    }
    input[type="text"] {
      width: 100%;
      border: none;
      background-color: transparent;
      color: $main-text-color;
      caret-color: $bright-blue;
      &::placeholder {
        color: $second-text-color;
      }
      @include rtlStyle {
        &:placeholder-shown {
          direction: rtl;
        }
      }
    }
  }
}
