.all-tasks {
  display: flex;
  flex-direction: column;
  background-color: var(--main-background-color);
  border-radius: $main-border-radius;
  box-shadow: $main-box-shadow;
  .task-box {
    @extend %mainTaskBox;
    border-bottom: 1px solid var(--main-border-color);
    cursor: grab;
    &.task-completed > .task-content {
      text-decoration: line-through;
      color: var(--third-text-color);
    }
    &.dragging {
      background-color: var(--third-text-color);
      opacity: 0.5;
      &.task-completed > .task-content {
        color: var(--second-text-color);
      }
    }
    .buttons-box {
      margin-left: auto;
      @include rtlStyle {
        margin: 0 {
          right: auto;
        }
      }
      white-space: nowrap;
      display: flex;
      gap: 10px;
    }
  }
}
