.all-tasks {
  display: flex;
  flex-direction: column;
  background-color: $main-background-color;
  border-radius: $main-border-radius;
  box-shadow: $main-box-shadow;
  .task-box {
    @extend %mainTaskBox;
    border-bottom: 1px solid $main-border-color;
    &.task-completed > .task-content {
      text-decoration: line-through;
      color: $third-text-color;
    }
    .buttons-box {
      margin-left: auto;
      @include rtlStyle {
        margin: 0 {
          left: 0;
        }
        margin-right: auto;
      }
      white-space: nowrap;
      display: flex;
      gap: 10px;
    }
  }
}
