.all-tasks {
  display: flex;
  flex-direction: column;
  background-color: $main-background-color;
  border-radius: $main-border-radius;
  box-shadow: 0px 0px 10px -5px $second-text-color;
  .task-box {
    @extend %mainTaskBox;
    border-bottom: 1px solid $main-border-color;
    &.task-completed {
      .task-content,
      .edit-btn {
        @extend .prevent-click;
        text-decoration: line-through;
      }
    }
    .buttons-box {
      margin-left: auto;
      white-space: nowrap;
      button {
        @extend %clickableItem;
        @include iconWithinButton(20);
        &.edit-btn {
          margin-right: 10px;
        }
      }
    }
  }
}
